<footer class="footer mt-5">
  <div class="container">
    <div class="row">
      <div class="col text-center mt-2">
        <p class="copyright-text">Copyright &copy; 2020. All Rights Reserved by
         <a href="https://www.rics.design">Ric's Kitchen & Bath</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
