<div class="card card-body">
  <h1 class="text-center">New Cabinet</h1>
  <form class="" action="/inventory" method="post">
    <!-- company -->
    <div class="form-group">
      <label for="company">Company</label>
      <input type="text" class="form-control" name="company">
    </div>

    <!-- item number -->
    <div class="form-group">
      <label for="itemNumber">Item Number</label>
      <input type="text" class="form-control" name="itemNumber">
    </div>

    <!-- door style -->
    <div class="form-group">
      <label for="doorStyle">Door Style</label>
      <input type="text" class="form-control" name="doorStyle">
    </div>

    <!-- finish -->
    <div class="form-group">
      <label for="finish">Finish</label>
      <input type="text" class="form-control" name="finish">
    </div>

    <!-- glaze -->
    <div class="form-group">
      <label for="glaze">Glaze</label>
      <input type="text" class="form-control" name="glaze">
    </div>

    <!-- wood species -->
    <div class="form-group">
      <label for="woodSpecies">Wood Species</label>
      <input type="text" class="form-control" name="woodSpecies">
    </div>

    <!-- price -->
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" class="form-control" name="price">
    </div>

    <!-- notes -->
    <div class="form-group">
      <label for="notes">Notes</label>
      <textarea type="text" class="form-control" name="notes"></textarea>
    </div>
    <button type="submit" class="btn btn-dark">Add</button>
  </form>
</div>
