<div class="jumbotron text-center">
  <h1 class="display-3 mb-3">Item Types</h1>
  <p class="lead">Let's add some things!</p>
</div>

<div class="row text-center">
  <div class="col d-flex flex-column">
    <a href="/inventory/add/cabinet" class="btn-lg btn-dark m-3">
      Cabinet
    </a>
    <a href="/inventory/add/fixture" class="btn-lg btn-dark m-3">
      Fixture
    </a>
    <a href="/inventory/add/tile" class="btn-lg btn-dark m-3">
      Tile
    </a>
  </div>
  <div class="col d-flex flex-column">
    <a href="/inventory/add/hardware" class="btn-lg btn-dark m-3">
      Hardware
    </a>
    <a href="/inventory/add/countertop" class="btn-lg btn-dark m-3">
      Countertop
    </a>
    <a href="/inventory/add/paint" class="btn-lg btn-dark m-3">
      Paint
    </a>
  </div>
</div>
