<div class="jumbotron text-center">
  <h1 class="display-3 mb-3">Inventory</h1>
  <p class="lead">What do we have in stock?</p>
  <a href="/inventory/add" class="btn btn-dark btn-lg">+ Add Item</a>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Company</th>
      <th scope="col">Item No</th>
      <th scope="col">Door Style</th>
      <th scope="col">Finish</th>
      <th scope="col">Glaze</th>
      <th scope="col">Wood Species</th>
      <th scope="col">Price</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Mid Continent</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">Mid Continent</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">Mid Continent</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>
