<div class="jumbotron text-center">
  <h1 class="display-3 mb-3">Clients</h1>
  <p class="lead">Let's see who we're working with!</p>
  <a href="/inventory/add" class="btn btn-dark btn-lg">+ Add Client</a>
</div>

<table class="table table-responsive table-striped text-center">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Alt. Phone</th>
      <th scope="col">Address</th>
      <th scope="col">Job Type</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Marc D'Anjou</th>
      <td>mdanjou@gmail.com</td>
      <td>415-665-7698</td>
      <td>415-665-7699</td>
      <td>2206 Union St. San Francisco, CA 94123</td>
      <td>Bath</td>
      <td>Gate code: 4852</td>
    </tr>
    <tr>
      <th scope="row">Marc D'Anjou</th>
      <td>mdanjou@gmail.com</td>
      <td>415-665-7698</td>
      <td>415-665-7699</td>
      <td>2206 Union St. San Francisco, CA 94123</td>
      <td>Bath</td>
      <td>Gate code: 4852</td>
    </tr>
    <tr>
      <th scope="row">Marc D'Anjou</th>
      <td>mdanjou@gmail.com</td>
      <td>415-665-7698</td>
      <td>415-665-7699</td>
      <td>2206 Union St. San Francisco, CA 94123</td>
      <td>Bath</td>
      <td>Gate code: 4852</td>
    </tr>
  </tbody>
</table>
